# IDEA files
/.idea/
/out/
/*.iml

# Gradle tension.tension.build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created dueDate Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
